@font-face {
  font-family: "Outfit";
  src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf)
    format("truetype");
}

@font-face {
  font-family: "YoungSerif";
  src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf) format("truetype");
}

body {
  font-size: 16px;
  font-family: "Outfit", monospace;
  font-weight: 400, 600, 700;
  line-height: 1.5;
  color: hsl(30, 10%, 34%);
  background-color: #f3e5d8;
}

h1,
h2 {
  font-family: "YoungSerif", monospace;
  font-weight: 400;
}

h1 {
  font-size: 2.5rem;
  color: hsl(24, 5%, 18%);
}

h2 {
  color: hsl(14, 45%, 36%);
}

ul li {
  padding: 0.25rem 0;
  padding-left: 1rem;
  margin: 0.5rem 0;
}

hr {
  border: none;
  height: 1px;
  background-color: #ccc;
}

/*  */

.recipe-card {
  margin: 12rem auto;
  background-color: white;
  max-width: 55%;
  border-radius: 16px;
  padding: 2rem;
}

.recipe-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.preparation-time-card {
  background-color: #fff7fc;
  padding: 0.75rem 1.5rem;
  border-radius: 1rem;
  margin: 2rem 0;
}

.preparation-time-card h2 {
  color: hsl(332, 51%, 32%);
  font-family: "Outfit";
  font-weight: 600;
  margin: 0;
}

.preparation-time-card ul {
  padding-left: 1.5rem;
}

.preparation-time-card ul li::marker {
  color: hsl(332, 51%, 32%);
}

/* Instructions */

.instructions-list {
  padding: 0 1.25rem;
}

.instructions-list li {
  padding-left: 1rem;
  margin: 0.5rem 0;
}

.instructions-list li::marker {
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}

/*  */
.ingredients-list {
  list-style-type: square;
  padding: 0 1.25rem;
}

.ingredients-list li::marker {
  color: hsl(14, 45%, 36%);
}

/* Table */
.nutrition-table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 3rem;
}

.nutrition-table td {
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  text-align: left;
}

.nutrition-table tr td:nth-child(2) {
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}

.no-border {
  border: none !important;
}

/* footer by FrontEnd Mentor */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media Queries */
@media screen and (max-width: 500px) {
  body {
    margin: 0;
  }

  h1 {
    font-size: 2rem;
  }

  .recipe-card {
    margin: 0;
    padding: 1.5rem;
    max-width: 100%;
  }

  .omelette-img img {
    width: 100%;
    height: auto;
  }
}
